<form ngForm (submit)="onSubmit($event);"
     class="form"
     style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 10px;">
  <mat-form-field>
    <mat-label> Nom : </mat-label>
    <input matInput
           placeholder="Nom user"
           [(ngModel)]="user"
           name="Nom user"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label> Mot de passe : </mat-label>
    <input matInput
           placeholder="Mot de passe"
           [(ngModel)]="password"
           name="Mot de passe"
    />
  </mat-form-field>

  <button mat-raised-button color="primary">Connexion</button>
</form>
