section {
    display: table;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  mat-sidenav-container {
    height: calc(205vh - 115vh);
  }

  mat-sidenav {
    width: 200px;
  }

/* Color Scheme */
:root {
  --light-blue: #e3f2fd; /* Very light blue */
  --white: #ffffff; /* White */
  --dark-blue: #1e88e5; /* A darker blue for contrast */
  --mid-blue: #90caf9; /* A mid-tone blue */
  --text-color: #1a237e; /* Dark blue text for better readability on light backgrounds */
}
/* Assuming .toolbar-form-test is the class for the container of the toolbar */
.toolbar-form-test .mat-toolbar {
  background-color: var(--light-blue);
  color: var(--text-color);
  justify-content: center;
}


/* Toolbar form styles */
.toolbar-form-test .toolbar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Creates space between form elements */
}

/* Input fields within the toolbar */
.toolbar-form-test .toolbar-form mat-form-field {
  margin-right: 10px;
}

/* Specific label styles if needed */
.toolbar-form-test .toolbar-form .mat-form-field-label {
  color: var(--dark-blue);
}

/* Button styles within the toolbar */
.toolbar-form-test .toolbar-form button[mat-raised-button] {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Hover effect for buttons */
.toolbar-form-test .toolbar-form button[mat-raised-button]:hover {
  background-color: var(--mid-blue);
}

/* Sidenav styles */
