/* Style général du formulaire */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Taille plus appropriée pour un formulaire de connexion */
    margin: 5% auto; /* Centrer le formulaire avec un pourcentage pour l'adaptabilité */
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #e5fbf2;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  /* Style pour les champs mat-form-field */
  mat-form-field {
    width: 100%; /* Pleine largeur pour la cohérence */
    margin-bottom: 20px; /* Plus d'espace entre les champs */
  }
  
  /* Style pour les inputs */
  input.mat-input-element {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  /* Style pour le bouton de soumission */
  button[type="submit"] {
    padding: 15px 20px;
    margin-top: 10px; /* Espacement au-dessus du bouton */
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%; /* Pleine largeur */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Message d'erreur plus moderne */
  .error-message {
    color: #e74c3c;
    margin-bottom: 20px; /* Plus d'espace avant le message d'erreur */
    text-align: center; /* Centrer le message d'erreur */
    font-size: 0.9rem;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    form {
      width: 90%;
      padding: 20px;
    }
  }
  
  /* Enlever les bordures par défaut et les remplacer par des ombres douces */
  input.mat-input-element:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
 