<div class="dashboard-container">

  <!-- Card for the assignment name -->
  <div class="card-container-nom">
    <mat-card *ngIf="assignmentTransmis">
      <mat-card-content>
        <mat-card-title>
          {{ assignmentTransmis.nom }}
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Card for the assignment due date and status -->
  <div class="card-container-date">
    <mat-card *ngIf="assignmentTransmis">
      <mat-card-content>
        <mat-card-subtitle>
          Due: {{ assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy' }}
        </mat-card-subtitle>
        <mat-card-subtitle>
          Status: {{ assignmentTransmis.rendu ? 'Submitted' : 'Not Submitted' }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Card for the assignment note if submitted -->
  <div class="card-container-rendu" *ngIf="assignmentTransmis?.rendu">
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle>
          Note: {{ assignmentTransmis?.note }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Card for marking assignment as submitted with a checkbox -->
  <div class="card-container-mark" *ngIf="!assignmentTransmis?.rendu">
    <mat-card>
      <mat-card-content>
        <mat-checkbox (click)="onAssignmentRendu()">
          Mark as Submitted
        </mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Buttons for editing and deleting assignment -->
  <div class="card-container-edit">
    <mat-card>
      <mat-card-content class="card-actions">
        <nav><a [routerLink]="['/assignment', assignmentTransmis?.id, 'edit']">
          <button [disabled]="!isAdmin" mat-stroked-button color="primary">Edit</button>
        </a></nav>
        <button [disabled]="!isAdmin" mat-raised-button color="warn" (click)="onDelete(assignmentTransmis)">Delete</button>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Add more card containers for other types of information as needed -->

  <div class="card-container-matiere">
    <mat-card>
      <mat-card-content class="card-actions">
        <nav><a [routerLink]="['/assignment', assignmentTransmis?.id, 'edit']">
          <button [disabled]="!isAdmin" mat-stroked-button color="primary">Matiere</button>
        </a></nav>
        <button [disabled]="!isAdmin" mat-raised-button color="warn" (click)="onDelete(assignmentTransmis)">Delete</button>
      </mat-card-content>
    </mat-card>
  </div>

   <!-- Card for the assignment note if submitted -->
  <div class="card-container-rendu" *ngIf="assignmentTransmis?.rendu">
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle>
          remarques: {{ assignmentTransmis?.remarques }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

</div>
