:root {
  --primary-color: #5D93E1; /* Blue */
  --secondary-color: #FFC107; /* Updated to a golden yellow for better contrast */
  --background-color: #ecf0f3; /* Light grey */
  --text-color: #ff1111; /* Dark grey */
  --card-background-color: #e3dada; /* White */
  --card-hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Added variable for hover shadow */
  --color-dark: #517abc; /* Darker shade of blue */
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Updated to gap for better control */
  padding: 40px;
  justify-content: center; /* Align items to center */
  max-width: calc(100% - 80px); /* Assuming 40px padding on each side */
  margin: 0 auto; /* This will center the .dashboard-container if it's smaller than its parent */
}

mat-card {
  box-shadow: var(--card-hover-shadow);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}

/* Hover effect */
mat-card:hover {
  transform: translateY(-5px); /* Lift card on hover */
  box-shadow: 0 0 10px #007bff;
  color: #007bff;
}

/* Card content styling */
mat-card-content {
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 20px;
  }
}

/* Additional styles for the buttons and images */
button {
  cursor: pointer; /* Added cursor pointer to buttons */
  transition: background-color 0.3s; /* Smooth background transition for buttons */
  background: #55e4bb;
}

button:hover {
  background-color: var(--color-dark);
  color: #e70b0b;
}

img {
  width: 15%; /* Make images responsive */
  height: auto;
  border-radius: 12px; /* Rounded corners for images */
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Add more custom styles as needed */
