
<div class="center-div">
  <mat-card class="card-container">
    <mat-card-content>
      <mat-card-subtitle>
        <div class="dashboard-container">
          <!-- Card for the author and assignment name -->
          <mat-card class="card-container">
            <mat-card-content>
              <mat-card-title>
                Auteur : {{ assignmentTransmis?.auteur }}
              </mat-card-title>
              <mat-card-subtitle>
                Devoir : {{ assignmentTransmis?.nom }}
              </mat-card-subtitle>
            </mat-card-content>
          </mat-card>

          <!-- Card for the assignment due date and status -->
          <mat-card class="card-container">
            <mat-card-content>
              <mat-card-subtitle>
                Due: {{ assignmentTransmis?.dateDeRendu | date: 'dd/MM/yyyy' }}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Status: {{ assignmentTransmis?.rendu ? 'Submitted' : 'Not Submitted' }}
              </mat-card-subtitle>
            </mat-card-content>
          </mat-card>

          <!-- Card for the assignment note if submitted -->
          <mat-card class="card-container" *ngIf="assignmentTransmis?.rendu">
            <mat-card-content>
              <mat-card-subtitle>
                Note: {{ assignmentTransmis!.note }}
              </mat-card-subtitle>
              <mat-card-subtitle>
                remarques: {{ assignmentTransmis!.remarques }}
              </mat-card-subtitle>
            </mat-card-content>
          </mat-card>

          <!-- Card for the assignment subject -->
          <div class="card-container-matiere">
            <mat-card *ngIf="assignmentTransmis?.matiere">
              <mat-card-content>
                <mat-card-subtitle>
                  <img [src]="this.prefix+assignmentTransmis?.matiere?.photoProf" alt="Photo du professeur de la matiere : {{ assignmentTransmis?.matiere?.name}}" width="150" height="150">
                  Matiere: {{ assignmentTransmis?.matiere?.name }}
                </mat-card-subtitle>
              </mat-card-content>
            </mat-card>
            <mat-card *ngIf="!assignmentTransmis?.matiere">
              <mat-card-content>
                <mat-card-subtitle>
                  Il n'y a pas de matiere pour ce devoir.
                </mat-card-subtitle>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Buttons for editing and deleting assignment -->
          <mat-card class="card-container">
            <mat-card-actions>
              <button mat-stroked-button color="primary" [routerLink]="['/assignment', assignmentTransmis?.id, 'edit']">Edit</button>
              <button mat-raised-button color="warn" (click)="onDelete(assignmentTransmis)" [disabled]="!isAdmin">Delete</button>
              <form *ngIf="isAdmin && assignmentTransmis && !assignmentTransmis.rendu">
                <mat-form-field>
                  <mat-label>Note</mat-label>
                  <input type="number" min="0" max="20" matInput [(ngModel)]="assignmentTransmis.note" name="note" required>
                </mat-form-field>
                <button mat-raised-button  color="primary" (click)="onSubmit(assignmentTransmis)">Submit</button>
              </form>
            </mat-card-actions>
          </mat-card>
        </div>

      </mat-card-subtitle>
      <mat-card-subtitle>
        Matiere: {{ assignmentTransmis?.matiere?.name }}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>

