html, body { height: auto;
  background: linear-gradient(to right, #add8e6, #ffffff) !important; }
body { font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #add8e6, #ffffff)!important; }


  mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
    /* display: flex; */
    background: radial-gradient(#add8e6, #ffffff) !important;
  }
body {
  background: linear-gradient(to right, #add8e6, #ffffff) !important;
}
