<main class="container">
  <div class="btnAjout">
  <a routerLink="/add" routerLinkActive="active">
  <button mat-flat-button color="accent"
  >
    Ajouter Assignment
  </button>
  </a>
  </div>

  <!-- Ajoutez le sélecteur de filtre ici -->
  <select [(ngModel)]="filter" class="filter-select">
    <option value="all">Tous ({{allCount}})</option>
    <option value="rendus">Rendus ({{rendusCount}})</option>
    <option value="nonRendus">Non Rendus ({{nonRendusCount}})</option>
  </select>

  <input [(ngModel)]="searchTerm" placeholder="Rechercher un assignment" />

<mat-list *ngFor="let a of filteredAssignments">
  <!-- Affichez ici les détails de l'assignment -->
</mat-list>

  <h3>Liste des devoirs :</h3>

  <mat-list *ngFor="let a of filteredAssignments">
    <nav><a routerLink="/assignment/{{a.id}}">
    <h3 mat-subheader>{{ a.dateDeRendu | date }}</h3>
    <mat-list-item (click)="assignmentClique(a)">
      <p *ngIf="a.rendu" appRendu>{{ a.nom }} a été RENDU.</p>
      <p *ngIf="!a.rendu" appNonRendu>{{ a.nom }}, N'A PAS ETE RENDU.</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </a></nav>
  </mat-list>
   <mat-paginator [length]="this.count" [pageSizeOptions]="[this.limit]"   [showFirstLastButtons]="true" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
</main>
