<main class="container">
  <div class="btnAjout">
    <a routerLink="/add" routerLinkActive="active">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Filtre</mat-label>
    <mat-select [(ngModel)]="filter">
      <mat-option value="all">Tous ({{allCount}})</mat-option>
      <mat-option value="rendus">Rendus ({{rendusCount}})</mat-option>
      <mat-option value="nonRendus">Non Rendus ({{nonRendusCount}})</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rechercher un assignment</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="getData(1)">
  </mat-form-field>

  <table mat-table [dataSource]="filteredAssignments" matSort class="sticky-header">
      
    <!-- Colonne Date de Rendu -->
    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Rendu </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/assignment', element.id]">{{ element.dateDeRendu | date }}</a>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="matiere">
      <th mat-header-cell *matHeaderCellDef> Matière </th>
      <td mat-cell *matCellDef="let element"> {{element.matiere.name}} </td>
    </ng-container> -->

    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef> Statut </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.rendu" appRendu>RENDU</span>
        <span *ngIf="!element.rendu" appNonRendu>N'A PAS ÉTÉ RENDU</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['dateDeRendu', 'nom', 'statut', 'note']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['dateDeRendu', 'nom', 'statut', 'note'];"></tr>
  </table>

  <mat-paginator [length]="this.count" [pageSizeOptions]="[this.limit]" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
  </mat-paginator>
</main>
