.form {
    display:flex;
    flex-direction: column;
    margin:5px;
    background: linear-gradient(#55e4bb, #5390D9) !important;
  }

  .ajoutDevoir {
    display:flex;
    flex-direction: column;
    margin:5px;
  }

  